@import "tailwindcss";

@theme {
  --variant-dark: .dark &;

  /* Register your variables so Tailwind can use them as 'main' */
  --color-main-bg: var(--color-page-bg);
  --color-main-text: var(--color-page-text);
}

:root {
  --main-bg: #ffffff; /* White for light mode */
  --main-text: #1e293b;
}

.dark {
  --main-bg: #0f172a; /* Dark blue/black for dark mode */
  --main-text: #f8fafc;
}

@layer base {
  body {
    background-color: var(--color-page-bg);
    color: var(--color-page-text);
    transition: background-color 0.3s, color 0.3s;
  }
  a {
    /* This ensures links inherit the theme text color by default */
    color: inherit; 
    text-decoration: none;
  }
  html {
    color-scheme: light;
    scroll-behavior: smooth;

  }
  
  html.dark {
    color-scheme: dark;
  }

  /* Force inputs to use our theme colors if they aren't behaving */
  input, textarea {
    background-color: var(--color-page-bg);
    color: var(--color-page-text);
  }
  section {
  scroll-margin-top: 80px; /* Adjust this to the height of your Navbar */
}
}


