@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Ensure the root takes up the full width and doesn't restrict alignment */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: block; /* Vite sometimes sets this to flex, change it to block */
  min-width: 320px;
  min-height: 100vh;
}
